.row
	= image_tag "//placehold.it/960x300"

.row
	.span12
		%h1= @artigo.chamada

	.span6.resumo
		:markdown
			#{@artigo.resumo} **(por Fulano de Tal)**

.row
	.span6.offset3
		:markdown
			#{@artigo.conteudo}