.row
	= image_tag @artigo.imagem_url :big

.row
	.span12
		%h1= @artigo.chamada

	.span6.resumo
		:markdown
			#{@artigo.resumo} **(por Fulano de Tal)**

.row
	.span6.offset3
		:markdown
			#{@artigo.conteudo}