<!-- <div id="fb-root"></div>
<script>

window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '267159516719712', // App ID from the App Dashboard
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
    });


  };

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might 
  // contain some type checks that are overly strict. 
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));






  
	// window.load_facebook = function(d, s, id) {
	// 	d=document; s='script'; id='facebook-jssdk';
	// 	var js, fjs = d.getElementsByTagName(s)[0];
	// 	if (d.getElementById(id)) return;
	// 	js = d.createElement(s); js.id = id;
	// 	js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=267159516719712";
	// 	fjs.parentNode.insertBefore(js, fjs);
	};
</script> -->