- unless @videos.blank? and @colunas.blank?
	= render "videos" unless @videos.blank?
	= render "ultimos_posts" unless @colunas.blank?
- else
	.row
		:markdown
			## Não há nada aqui ainda :(.
			Mas terá muito em breve. Cheque novamente daqui uns dias.